language: go
go: 1.5
env: GO15VENDOREXPERIMENT=1
before_install:
  - go get github.com/ajstarks/svgo
  - go get github.com/clbanning/mxj
  - go get github.com/stretchr/testify
  - go get github.com/frankbraun/gocheck
script:
  - gocheck -g -c -e talk
