  Rectangles:
  
  #-----#     .-----.     #-----.
  |     |     |     |     |     |
  |     |     |     |     |     |
  #-----#     '-----'     '-----#
  
  
  Lines:
  
  -------     |   ^   |   ^        /     ^       =======     :   ^   :   ^
  ------>     |   |   |   |       /       \      ======>     :   :   :   :
  <------     |   |   |   |      /         \     <======     :   :   :   :
  <----->     |   |   v   |     /           v    <=====>     :   :   v   V
