
#----------------------------#
|[REF]                       |
|                            |
| .---.       .---#          |
| |foo| ====> |bar| ----+    |
| '---'       #---'     |    |
|                       |    |
|                     #---#  |
|                     |baz|  |
|                     #---#  |
|                            |
#----------------------------#

[REF]: {"note":"outer"}
